__pycache__/
.ipynb_checkpoints
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
lib/
lib64/
*.egg-info/
*.egg
.installed.cfg
sdist/
wheels/
share/python-wheels/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
